In [ ]:
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib.pyplot as plt

#**Set 1**

##Q1

In [ ]:
x=['24.23','25.53','25.41','24.14','29.62','28.25','25.81','24.39','40.26','32.95','91.36','25.99','39.42','26.71','35.00']
y=pd.DataFrame(x)

In [ ]:
y.describe()
#y.mean()

            0
count      15
unique     15
top     24.23
freq        1

In [ ]:
mean = 33.27
std =16.94
variance=287.14

##Q2

In [ ]:
# i)the inter quaratile range of this fig is from 5 to 12
#   the IQR shows the middile half of the distribution and also shows the median as well, it is the region between 2nd and 3rd quaratiles.

In [ ]:
# ii) the dataset is positively skewed

In [ ]:
# iii) if it is 2.5 then there wont be any outliers and the data range will be from 0 to 19. 
#      also the mean will be moving a littile right, that means positive skewness will be decreasing

##Q3

In [ ]:
# i) mode is around 5 (between 4 to 7)

In [ ]:
# ii) the data is positively skewed

In [ ]:
# iii) both the data are having same outlier(25), there median and mode are also similar.

##Q4

In [ ]:
pa=1/200 #pa is the probability of having one misdirected call in 200 calls
s=1-pa
s   #probability of having atleast one succesful call

0.995

In [ ]:
y=1-(.995**5)
y   #probability that at least one in five attempted telephone calls reaches the wrong number

0.02475124687812502

##Q5

In [ ]:
# i) the most likely monetary outcome is 2000 dollars

In [ ]:
# ii) yes, there are 60% chances are there for getting profit

In [ ]:
# iii) according to the probabilities 60% chance is there for profit and the average profit could is upto 8000 dollars

In [ ]:
import math
x=(-2000,-1000,0,1000,2000,3000)

In [ ]:
m=sum(x)/len(x)
s=[]
for i in x:
  s.append((i-m)**2)
var=sum(s)/len(x)
var

2916666.6666666665

In [ ]:
st=math.sqrt(r)
st

1707.825127659933

In [ ]:
# iv) there is chance for not getting any loss,which is a good risk.

#**Set 2**

##Q1

In [ ]:
from scipy import stats
1-stats.norm.cdf(50,45,8)
# there is 26.6% probability that the manager could not give the car within 1hr

0.26598552904870054

##Q2

In [ ]:
#probability of employees with age greater than 44
1-stats.norm.cdf(44,38,6)   #(63.44 employees)

0.15865525393145707

In [ ]:
#probability of employees with age less than 44
stats.norm.cdf(44,38,6)   #(336.52 employees)

0.8413447460685429

In [ ]:
#probability of employees with age less than 38
stats.norm.cdf(38,38,6)    #(200 employees)

0.5

In [ ]:
#probability of employees with age between 38 and 44
0.8413-0.5    #(136.52 employees)

0.34130000000000005

A)

In [ ]:
# 15.86% (63.44 employees) employees are above 44 yrs old and 34.13% (136.52 employees) employees are between the age of 38 to 44, so the satatment is wrong.

B)

In [ ]:
# probability of employees below the age of 30
stats.norm.cdf(30,38,6)   #(36.48 employees)

0.09121121972586788

In [ ]:
# there are 36 employees below the age of 30,so the statment is true

##Q3

In [ ]:
#  2X1 and X1+X2 are same, the output of both methods will same.

##Q4

In [ ]:
# the z value was 0.99 so the Xi value is 119.8, so the b value is 119.8
#(x-100)20=120
#therefore the a= 80.2 and b=119.8, i.e option B

##Q5

A)

In [ ]:
from scipy import stats
stats.norm.interval(.95,5,3)

(-0.8798919536201621, 10.879891953620163)

In [ ]:
stats.norm.interval(.95,7,4)

(-0.8398559381602162, 14.839855938160216)

In [ ]:
10.88+14.84=25.72
# the annual profit will be with 95% probability is Rs1157.4 million

B)

In [ ]:
stats.norm.interval(.05,5,3)

(4.811879666170358, 5.188120333829642)

In [ ]:
stats.norm.interval(.05,7,4)

(6.749172888227145, 7.250827111772855)

In [ ]:
5.19+7.25=12.44
# for 5% probability the annual profit will be Rs 559.8 million

C)

In [ ]:
# the second company is having higher chance of getting loss

#**Set 3**

##Q1

In [ ]:
# I)False, it is not possible because the results depend on the size of the sample. The sample size should have at least 30 observations

In [ ]:
# II) False, not responded survey results are not included in samples because it is not useful. 
#     Also all the data from the survey are not included in the sample, only randomly selected responds are used in sample.

In [ ]:
# III) True

##Q2

In [ ]:
# A) 9000

In [ ]:
# B) 1 to 10

In [ ]:
# C) compact digital camera

In [ ]:
# D) 225

In [ ]:
# E) random sampling or average

In [ ]:
# F) each brand will be having different product, the product is not specified during the survey

##Q3

In [ ]:
# I) true

In [ ]:
# II) False,$100 is a plausible value for the population mean at 95% level of confidence.

In [ ]:
# III) False, considering the central limit theorem implies that the sampling distribution is normal regardless of the data itself.

##Q4

In [ ]:
B

##Q5

In [ ]:
# I) no

In [ ]:
# II) yes

##Q6

In [ ]:
# C is true

##Q7

In [ ]:
# A) Z interval is shorter

##Q8

In [ ]:
# n=[[(1.96)^2]*(0.5)*(1-0.5)]/(0.04)^2 = 600

# A)600

##Q9

In [ ]:
# n=[[(2.326)^2]*(0.5)*(1-0.5)]/(0.04)^2 = 848

# C)848

#**Set 4**

##Q1

In [ ]:
# I) C,D

In [ ]:
# II) D

In [ ]:
# III) A,B

In [ ]:
# IV) A,B

##Q2

In [ ]:
# i) False

In [ ]:
# ii) True

##Q3

In [1]:
from scipy import stats
stats.norm.cdf(55,50,4)  #p(x<55)

0.8943502263331446

In [2]:
stats.norm.cdf(45,50,4)  #p(x<45)

0.10564977366685535

In [4]:
(stats.norm.cdf(55,50,4)-stats.norm.cdf(45,50,4))  #p(45<x<55)

0.7887004526662893

In [5]:
1-0.7887  #there are 78.87% chance that there will be an investigation

0.21130000000000004

In [ ]:
#  D) 21.1%

##Q4

In [ ]:
# D) 250       n=(5*40)+50

##Q5

In [ ]:
# D) true